---
// src/pages/index.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import WorkList from "../components/WorkList.astro";
import { work } from "../data/work";
---

<BaseLayout>
  <SiteHeader />
  <main class="flex-1 mx-auto px-6 pt-16 pb-32 w-full" style="max-width: var(--container-max)">
    <WorkList items={work} />
  </main>
  <SiteFooter />
</BaseLayout>
